* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#board {
    width: auto;
    height: auto;
    background-color: white;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    float: left;
}

.cell:nth-child(10n+1) {
    clear: both;
}

.ball {
    border-radius: 50%;
    background-color: red;
    border: 1px solid black;
}